languageCode: fr-FR

params:
  favicon: "/favicon.ico"
  navbar:
      align: ms-auto
      #brandLogo: "favicon.ico" # Logo for the brand | default is the favicon variable
      brandName: "Hugo Bertin" # Brand name for the brand | default is the title variable
      disableSearch: true
      # searchPlaceholder: "Ctrl + k pour chercher..."
  

  footer:
      recentPosts:
        path: "blogs"
        count: 3
        title: Posts récents
        enable: true
        disableFeaturedImage: false
      socialNetworks:
        github: https://github.com/HugoBertin
        linkedin: https://www.linkedin.com/in/hugo-bertin-6160031b8/
        # twitter: https://twitter.com
        # instagram: https://instagram.com
        # facebook: https://facebook.com

  sectionPagesMenu: main

    # Hero
  hero:
    enable: true
    intro: "Bonjour, je suis"
    title: "Hugo."
    subtitle: "I build things for the web"
    content: "Ingénieur du numérique passionné par la tech.  A passionate web app developer. I tend to make use of modern web technologies to build websites that looks great, feels fantastic, and functions correctly."
    image: /images/Photo.jpg
    bottomImage:
      enable: true
    # roundImage: true # Make hero image circular | default false
    button:
      enable: true
      name: "Resume"
      url: "#"
      download: true
      newPage: false
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://github.com/HugoBertin
        - icon: fab fa-linkedin-in
          url: https://www.linkedin.com/in/hugo-bertin-6160031b8/
      customIcons:
        - icon: /favicon.ico
          url: "https://example.com"
      
  # About
  about:
    enable: true
    title: "À propos"
    image: "/images/Photo.jpg"
    content: |-
      Je suis ingénieur du numérique. Actuellement, je travaille en tant qu'ingénieur logiciel au sein de [Sopra Steria](https://www.soprasteria.com/fr) à Paris. 

      Je travaille  
    skills:
      enable: true
      title: "Quelques technologies que j'ai pu utiliser :"
      items:
        - "HTML"
        - "CSS"
        - "JavaScript"
        - "SQL"
        - "Java"
        - "Python"
        - "Angular"
        - "Typescript"
        - "Selenium Webdriver"
  
  # Experience
  experience:
    enable: true
    title: "Expérience"
    items:
      - job: "Ingénieur logiciel - Junior"
        company: "Sopra Steria"
        companyUrl: "https://www.soprasteria.com/fr"
        date: "Septembre 2023 - Présent"
        featuredLink:
          enable: true
          url: "https://example.com"
        info:
          enable: false
        content: |
          À la suite de mon stage de fin d'étude, j'ai eu l'opportunité de continuer mon aventure au sein de [Sopra Steria](https://www.soprasteria.com/fr) et continuer ma mission au sein de [Crédit Agricole Corporate & Investment Bank](https://www.ca-cib.fr/fr)

          - Réalisation de dossiers de conception
          - Mise en place d'architecture
          - Développement en Java/Angular
          - Réalisation et automatisation des tests unitaires

      - job: "Stage de fin d'étude en développement informatique"
        company: "Sopra Steria"
        companyUrl: "https://www.soprasteria.com/fr"
        date: "Avril 2023 - Septembre 2023"
        featuredLink:
          enable: true
          url: "https://example.com"
        info:
          enable: false
        content: |
          En tant que stagiaire de la division Banque de [Sopra Steria](https://www.soprasteria.com/fr), j'ai pu intervenir en tant que prestataire au sein de [Crédit Agricole Corporate & Investment Bank](https://www.ca-cib.fr/fr)

          - Réalisation de dossiers de conception
          - Mise en place d'architecture
          - Développement en Java/Angular
          - Réalisation et automatisation des tests unitaires

      - job: "Stage en développement et analyse de données"
        company: "FARECO - FAYAT"
        companyUrl: "https://fareco.fayat.com"
        date: "Septembre 2021 - Février 2022"
        info:
          enable: false
        featuredLink:
          enable: true
          url: "https://example.com"
        content: |
          Stagiaire en simulation du traffic routier : 
          - Amélioration d'outil de test pour l'étude des technologies V2X avec Python et le simulateur [SUMO](https://sumo.dlr.de/docs/index.html)

  # Education
  education:
    enable: true
    title: "Formation"
    index: false
    items:
      - title: "Formation d'ingénieur Spécialité Architecte des Systèmes d'Information"
        school:
          name: "Institut Supérieur d'Électronique de Paris (ISEP)"
          url: "https://www.isep.fr/cycle-ingenieur/"
        date: "2020 - 2023"
        content: |-
          Extracurricular Activities
            - Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            - Tempora esse, eaque delectus nulla quo doloribus itaque expedita alias natus optio totam maxime nihil excepturi velit a animi laborum hic similique.
      - title: "Semestre d'échange à l'international"
        school:
          name: "Université du Québec à Montréal (UQÀM)"
          url: "https://uqam.ca"
        date: "2022 - 2023"
        content: |-
          Extracurricular Activities
            - Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            - Tempora esse, eaque delectus nulla quo doloribus itaque expedita alias natus optio totam maxime nihil excepturi velit a animi laborum hic similique.
      - title: "Classe préparatoire MPSI/PSI"
        school:
          name: "Cycle Préparatoire Associées ISEP-Stanislas"
          url: "https://www.isep.fr/classes-preparatoires-associees-2-3/"
        date: "2018 - 2020"
        content: |-
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a orci massa. Aenean et ipsum non libero tristique vehicula eget et nisl. Ut eget mauris efficitur, tempor ex quis, tempus magna. Donec sed mauris quam. Quisque nec ante ac arcu suscipit commodo. Proin tempus malesuada augue, eget rhoncus tortor congue at. Vestibulum vel dignissim lorem. Vivamus luctus at arcu suscipit dapibus. Nam ligula leo, semper quis dolor ultricies, auctor tempus nisi. Ut posuere turpis nec metus efficitur, posuere tempor dui semper. Cras hendrerit urna sit amet gravida facilisis. Suspendisse mollis sed sem vitae porta.
          - Projet TIPE de 2e année : Modélisation de ski nautique avec Arduino
          - Projet TIPE de 1er année : Étude et modélisation du problème du sac à dos en Python
          Extracurricular Activities
            - Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            - Tempora esse, eaque delectus nulla quo doloribus itaque expedita alias natus optio totam maxime nihil excepturi velit a animi laborum hic similique.
        featuredLink:
          enable: true
          name: "My academic record"
          url: "https://example.com"
      - title: "Baccalauréat Scientifique"
        school:
          name: "Lycée Bossuet Notre-Dame"
          url: "https://www.bossuetnotredame.org/lycee-bossuet-notre-dame/"
        content: |-
          - Mention Bien
          - Spécialité Mathématiques
        featuredLink:
          enable: true
          url: "https://example.com"

  singlePages:
    readTime:
      content: "min de lecture"

# For translations
  terms:
    read: "Lire"
    toc: "Sommaire"
    copyright: "All rights reserved"
    pageNotFound: "Page not found"
    emailText: "Check out this site"
    readingTime: "de lecture"

  datesFormat:
    article: ":date_long"
    articleList: ":date_long"
    articleRecent: ":date_long"

Menus:
  main:
  - name: Blogs
    pageRef: /blogs
    weight: 1

  